*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
:is(.wrapper) {
    display: grid;
    width: 10rem;
    margin-top: .3rem;
    gap: .3rem;
}
:is(.wrapper, input, button) {
    text-align: center;
}